.project {
	position: relative;
	width: 50%;
	left: 115px;
}

.image {
	display: block;
	width: 50%;
	height: auto;
	border-radius: 25%;
}

.overlay {
	border-radius: 25%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 50%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #0c0c0c8c;
}

.project:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	font-weight: 400;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.secondary-text {
	color: white;
	font-size: 10px;
	position: absolute;
	top: 60%;
	left: 50%;
	width: 100%;
	padding: 1rem;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
