.project-item {
	text-decoration: none;
	padding: 3rem;
}

.project-item img {
	width: 200px;
	height: 200px;
	border-radius: 25%;
}

.project-title,
.project-subtitle,
.project-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-title h1 {
	font-size: 3rem;
	padding: 0.5rem;
}
