.header-container {
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	width: 550px;
	height: 6vh;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	font-weight: 800;
	color: #222222;
}

li {
	list-style: none;
	font-weight: 300;
	color: #222222;
}

.nav {
	color: #222222;
	font-weight: 300;
}
