.projects {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 17vh;
}

.span-projects {
	animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
	font-weight: 400;
}

.projects-title {
	font-weight: 200;
	font-size: 2.5rem;
}

.project-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

@keyframes shadow-pop-tr {
	0% {
		box-shadow: 0 0 #3e3e3e, 0 0 #ffffff, 0 0 #3e3e3e, 0 0 #ffffff, 0 0 #3e3e3e, 0 0 #ffffff, 0 0 #3e3e3e, 0 0 #ffffff;
		transform: translateX(0) translateY(0);
	}
	100% {
		box-shadow: 1px -1px #ffffff, 2px -2px #3e3e3e, 3px -3px #ffffff, 4px -4px #3e3e3e, 5px -5px #ffffff, 6px -6px #3e3e3e, 7px -7px #ffffff, 8px -8px #3e3e3e;
		transform: translateX(-8px) translateY(8px);
	}
}
